* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

//colors
$blue: #345ff6;
$gunmetal: #253347;
$dark-electric-blue: #5e6e85;
$borders: #d8e2e7;
$pure-white: #ffffff;

//gradients
$gradient1: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
$gradient2: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 150%; /* 24px */
  color: $dark-electric-blue;

  justify-content: center;
  .container {
    position: relative;
    width: 100%;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .heading {
        height: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;
        border-radius: 0 0 35px 35px;
        background: $gradient1;

        .logo {
          width: 40px;
          height: 40px;
          margin-top: 32px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        h1 {
          margin-top: 24px;
          color: var(--Gunmetal, #253347);
          text-align: center;
          font-size: 48px;
          font-weight: 600;
          line-height: 110%; /* 52.8px */
          letter-spacing: -2.4px;
        }

        p {
          text-align: center;
          margin-top: 24px;
        }
      }

      .bmi-container {
        width: calc(100% - 24px);
        position: relative;
        top: -150px;
        display: flex;
        height: 640px;
        border-radius: 16px;
        background: $pure-white;
        box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);

        .bmi {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 24px;

          h3 {
            color: $gunmetal #253347;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -1.2px;
          }

          .settings {
            width: 100%;
            margin-top: 24px;

            .radio {
              height: 30px;
              display: flex;

              .label {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;

                span {
                  margin-left: 18px;
                }
              }
            }

            .inputs {
              width: 100%;
              height: 200px;
              margin-top: 24px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .height,
              .weight {
                width: 100%;
                height: 92px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }

              label {
                height: 35%;
                font-size: 14px;
              }

              .input-groups {
                height: 65%;
                display: flex;
                justify-content: space-between;

                .input-group {
                  height: 100%;
                  width: 45%;
                  display: flex;
                  border-radius: 12px;
                  border: 1px solid $borders;
                  background: $pure-white;

                  input,
                  h3 {
                    width: 50%;
                    height: 100%;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: -1.2px;
                  }

                  input {
                    border: none;
                    outline: none;
                    text-align: center;
                    color: $gunmetal;

                    &::placeholder {
                      color: $gunmetal;
                      opacity: 1; /* Firefox */
                    }

                    &::-ms-input-placeholder {
                      /* Edge 12 -18 */
                      color: $gunmetal;
                    }
                  }

                  h3 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $blue;
                  }

                  &:hover {
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .results {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 257px;
            margin-top: 24px;
            border-radius: 16px;
            background: $gradient2;
            padding: 32px;
            color: $pure-white;

            .result {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: flex-start;
              height: 50%;

              h4 {
                font-weight: 600;
                line-height: 150%; /* 24px */
              }

              h1 {
                font-size: 48px;
                font-weight: 600;
                line-height: 110%; /* 52.8px */
                letter-spacing: -2.4px;
              }
            }

            .description {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50%;
              text-align: center;
              font-size: 14px;
              line-height: 150%; /* 21px */
              letter-spacing: -0.7px;

              p {
                text-align: left;
                font-size: 14px;
                line-height: 150%; /* 21px */

                span {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    position: relative;
  }
}
